<!--education page-->
<div class="container" style="height:100vh !important; width:fit-content !important">
    <div class="row row-cols-2 align-items-center h-100 w-100">
        <div class="col" style="padding-right: 100px;">
            <div style="padding: 10%; text-align: center">
                <h1 style="color: #f093b0">
                    About Me
                </h1>
                <hr style="border-color: #a0e9ff;">
                <div id="about-me" style="color:white">
                    <h5>
                        Being a passionate problem solver, I fell in love with programming. 
                    </h5>
                    <h5>My hobbies are teaching, playing video games, and messing around with computer hardware!</h5>
                </div>
            </div>
        </div>
        <div class="col" style="padding-left: 100px;">
            <div style="padding: 10%; text-align: center;">
                <h1 style="color: #f093b0">
                    Education
                </h1>
                <hr style="border-color: #a0e9ff; width:110%">
                <div id="uni-info" class="text-nowrap" style="color:white">
                    <img src="./assets/img/unologo.png" class="image-wrapper float-left">
                    <div id="student-details">
                        <h5>University of New Orleans</h2>
                        <h5>B.S. Computer Science</h3>
                        <h5>Graduated December 2022</h4>
                        <h5>GPA: 3.37</h4>
                    </div>
                    <div style="color:white">
                        <h4>Related Courses</h4>
                        <ul style="text-align: left;">
                            <li>Software Design I</li>
                            <li>Software Design II</li>
                            <li>Data Structures</li>
                            <li>Systems Programming Concepts</li>
                            <li>Computer Design & Organization</li>
                            <li>Computer Networks & Telecommunications</li>
                            <li>Principles Operating Systems I</li>
                            <li>Developing Advanced Web Applications</li>
                            <li>Cloud Computing</li>
                            <li>Topics in Mobile Applications Development</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
