<!-- landing page -->
<div id="particle-container">
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="particle"></div>
    <div class="position-relative container text-center h-100 d-flex flex-column justify-content-center" style="height:100vh !important; background-color: rgba(0, 0, 255, 0); color: #f093b0;">
        <h1 class="display-1" > Jordan Nguyen </h1>
        <h3 style="color: #a0e9ff; padding-bottom: 20px;"> Software Engineer </h3>
        <div id="header-links">
            <a href="/assets/img/Resume.pdf" target="_blank"><i class="bi bi-filetype-pdf header-icon"></i></a>
            <a href="https://github.com/ManhNguyen1116" target="_blank"><i class="bi bi-github header-icon"></i></a>
            <a href="mailto:jordancb28@gmail.com" target="_blank"><i class="bi bi-envelope-at header-icon"></i></a>
        </div>
    </div>
</div>