<!--coding projects portfolio-->
<div class="position-relative container text-center h-100 w-100 d-flex flex-column" style="height:100vh !important; width:fit-content !important; color: #f093b0;">
    <h1 style="padding-top: 5%">Projects</h1>
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col">
            <div class="project-container">
                <div class="project-details">
                    <h4>Better YouTube Shuffle</h3>
                    <p>Web app that scrapes the data of playlists from YouTube and allows users to properly play and shuffle YouTube playlists.</p>
                    <p>Built with Node.js, JavaScript, HTML, CSS</p>
                    <a href="https://manhnguyen1116.github.io/Better-YouTube-Shuffle/">Check it out!</a>
                </div>
                <img class="project-thumbnail" src="assets/img/TYlogo.png">
            </div>
        </div>
        <div class="col">
            <div class="project-container">
                <div class="project-details">
                    <h4>Aim Trainer</h3>
                    <p>A REST client that serves to improve user's cursor aim and includes a leaderboard to compare with other users. Graphics made with HTML canvas.</p>
                    <p>Built with HTML, CSS, JavaScript</p>
                    <a href="https://manhnguyen1116.github.io/Aim-Trainer-with-Leaderboard/">Check it out!</a>
                </div>
                <img class="project-thumbnail" src="assets/img/AimTrainer.png">
            </div>
        </div>
        <div class="col">
            <div class="project-container">
                <div class="project-details">
                    <h4>Dark Souls: An Interactive Demo</h3>
                    <p>Browser fan game that emulates the game's most common path taken after the tutorial area.</p>
                    <p>Built with HTML, CSS, JavaScript</p>
                    <a href="https://manhnguyen1116.github.io/Dark-Souls-An-Interactive-Demo/">Check it out!</a>
                </div>
                <img class="project-thumbnail" src="assets/img/darksouls-logo.png">
            </div>
        </div>
        <div class="col">
            <div class="project-container">
                <div class="project-details">
                    <h4>Cat & Dog Image Scraper</h3>
                    <p>Dockerized web app that scrapes images from cat and dog random image generator websites and then shows user the image and saves the image in assets folder.</p>
                    <p>Built with Docker, Node.js, JavaScript, HTML</p>
                    <a href="https://github.com/ManhNguyen1116/Cat-and-Dog-Image-Scraper">Check it out!</a>
                </div>
                <img class="project-thumbnail" src="assets/img/dog&cat.jpg">
            </div>
        </div>
</div>
